<ion-view class="order-page" view-title="{{ 'ORDER' | translate }}" ng-controller="orderCtrl">
	<ion-nav-bar class="bar-light">
		<ion-nav-back-button></ion-nav-back-button>
	</ion-nav-bar>
	<ion-nav-buttons side="right">
		<a class="button button-icon icon ion-ios7-home" href="#/"></a>
	</ion-nav-buttons>
	<ion-content padding="true">
		<form name="orderform">
			<div class="list">
				<label class="item item-divider">
					{{  roomName }}
				</label>
				<label class="item item-input">
					<input type="text" ng-model="order.fname" placeholder="{{ 'FNAME' | translate }}" required="" />
				</label>
				<label class="item item-input">
					<input type="text" ng-model="order.lname" placeholder="{{ 'LNAME' | translate }}" required="">
				</label>
				<label class="item item-input">
					<input type="number" min="1" max="10" ng-model="order.nguests" placeholder="{{ 'NGUESTS' | translate }}" required="">
				</label>
				<label class="item item-input">
					<input type="date" ng-model="order.datein" min="{{ minDateIn }}" placeholder="{{ 'DATE_IN' | translate }}" required="">
				</label>
				<label class="item item-input">
					<input type="date" ng-model="order.dateout" min="{{ minDateOut }}" placeholder="{{ 'DATE_OUT' | translate }}" required="">
				</label>
				<label class="item item-input">
					<input type="text"  ng-model="order.phone" placeholder="{{ 'U_PNONE' | translate }}">
				</label>
				<label class="item item-input">
					<input type="email"  ng-model="order.email" placeholder="{{ 'U_EMAIL' | translate }}" required="">
				</label>
				<label class="item item-input">
					<textarea ng-model="order.comments" placeholder="{{ 'COMMENTS' | translate }}"></textarea>
				</label>
			</div>
			<div class="padding">
				<button class="button button-block button-outline button-assertive" ng-click="placeOrder(orderform)">
					{{ 'SUBMIT' | translate }}
				</button>
			</div>
		</form>
	</ion-content>
</ion-view>